@font-face {
    font-family:"arcade";
    src: url(".././assets/fonts/ARCADE.TTF") format("truetype");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
}
body {
    overflow-x: hidden;
}

#gameCanvas {    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#backgroundCanvas {    
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 1;
}

img{
    width: 100%;
    height: 100%;
}


#gameContainer{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btPlay{
    position:relative;
    z-index: 3;
    background-color:red;
    padding:20px;
    border-radius:10px;
    cursor: pointer;
}